@import './standard.scss';

html, body {
  margin: 0;
  border: 0;
  overflow: hidden;
  position: fixed;
}

.p-mw-20 {
  min-width: 20rem !important;
}

.p-mw-20 > input[type="text"] {
  min-width: 20rem !important;
}
