:root.dark {
  --bg-color: #323438;
  --menu-bg: #4f5256;
  --inner-content-pane-bg: #f9f9f9;

  // Borders
  --menu-border: #4e4e4e;
  --border-grey: '';

  // Text
  --primary-text: #aeaeae;
  --hightlight-text: #63adfd;
  --logo-text-color: #ffffff;

  --route-title: #c0c0c0;
  --route-description: var(--route-title);


  // UI Components
  // -- TOGGLES --
  --toggle-background: #1586d5;

  // -- BUTTONS --
  --primary-button-color: #1586d5;

  // -- USER ICON --
  --user-icon-bg: #f1f1f1;
  --user-icon-border: #e3e3e3;
  --user-icon-text: #bbbbbb;

  // -- GRID ITEM --
  --grid-item-bg: var(--menu-bg);
  --grid-item-border: var(--menu-border);
  --grid-item-title: var(--toggle-background);

  // -- DASH-GRID-ITEM --
  --dash-grid-item: var(--menu-bg);
  --dash-grid-item-shadow: none;
  --dash-grid-item-text: #aeaeae;

  // -- TABLES --
  --datatabble-bg: #f8f9fa;
  --datatable-bg-color: #4f5256;
  --datatable-text-color: var(--primary-text);
  --datatable-border: 0;

  --datatable-hr-bg: #464646;
  --datatable-hr-border: 1px solid #3d3d3d;
  --datatable-hr-color: #ffffff;

  --datatable-rows-bg: #2f2f2f;
  --datatable-rows-text-color: #e3e3e3;
  --datatable-rows-border: 1px solid var(--menu-border);

  // -- TEXT BOXES --
  --textbox-bg-color: #393a3b;
  --textbox-border: 1px solid #333434;
  --textbox-color: #aeaeae;

  // -- BUTTON --
  --button-text: #ffffff;
  --button-bg: #8a62b2;
  --border: var(--toggle-background);

}